<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwq.hr.mapper.ShopMapper">


    <select id="selByType" resultType="java.lang.String">
        select
            name
        from shop t1 inner join shop_warning t2
        on t1.id = t2.sid
        and t2.type=#{type}
    </select>
</mapper>
