<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwq.hr.mapper.WarnKeywordNosetMapper">

    <insert id="batchInsert">
        insert into
            warn_keyword_noset(gid)
            values
        <foreach collection="list" open="(" close=")" separator="," item="map">
            #{map.gid}
        </foreach>

    </insert>
</mapper>
